<h1>Пользователи</h1>

<hr/>

<% if can? :read, @users %>
  <p>
    <% if can? :create, @users %><%= link_to("Добавить нового пользователя", new_admin_user_path) %> | <% end %>
    <%= link_to("Проекты", projects_path) %>
  </p>

  <hr/>

  <table>
    <tr>
      <th>Имя</th>
      <th>Email</th>
      <th>Роль</th>
    </tr>
   
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td> 
        <td><%= link_to("Изменить", edit_admin_user_path(user)) %></td>
        <td><%= link_to("Просмотреть", admin_user_path(user)) %></td>
        <td><%= link_to("Удалить", admin_user_path(user), method: :delete) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>У вас нет прав просматривать пользователей.</p>
<% end %>