<h1><%= link_to("Пользователи", admin_users_path) %> &raquo; User #<%= @user.id %></h1>

<hr/>

<% if can? :manage, @user %>
  <p>
  <%= link_to("Редактировать профиль", edit_admin_user_path) %>
  </p>
  <hr/>    
<% else if can? :update, @user %>
  <p>
  <%= link_to("Изменить профиль", edit_user_registration_path) %>
  </p>
  <hr/>
<% end %>
<% end %>

<% if can? :read, @user %>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
   
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Роль:</strong>
    <%= @user.role %>
  </p>

<% else %>
  <p>У вас нет прав просматривать эту страницу.</p>
<% end %>

