<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<% if user_signed_in? %>
  <p>
    Здравствуй, <strong><%= current_user.name %></strong>!
    <% if notice %><%= notice %><% end %>
    [<%= link_to 'Просмотреть профиль', admin_user_path(current_user.id) %> |
    <%= link_to "Выйти", destroy_user_session_path, method: :delete  %>]
  </p>
<% end %>

<%= yield %>

</body>
</html>
